# -- Application Mode --
APP_MODE=MASTER

# -- Telegram Configuration --
TELEGRAM_BOT_TOKEN="YOUR_TELEGRAM_BOT_TOKEN"
# Whitelisted chat IDs for bot interaction (users or groups); comma separated
TELEGRAM_CHAT_ID=12345678,87654321
# Channel/Group IDs to send alerts to ( format: channel_id:topic_id<optional> ); comma separated
ALERT_TARGETS=-100123456789,-100987654321:137

# -- Log Configuration --
# Path to the authentication log file
LOG_PATH="/var/log/auth.log"

# -- Connector Configuration --
# The IP and port the master server will listen on for alerts from slaves (defaulting to 127.0.0.1:13001 for security)
LISTEN_ADDR="127.0.0.1:13001"
# A long, random, secret string shared between master and all slaves (use > 30chars alphanumeric with symbols for security)
INTERNAL_API_KEY="a_very_secret_and_long_random_string_for_auth"