TELEGRAM_BOT_TOKEN=:TELEGRAM_BOT_TOKEN
WHITELISTED_CHAT_IDS=:TELEGRAM_CHAT_ID(S)
CHANNEL_ID=-:TELEGRAM_CHANNEL_ID(S)
TOPIC_ID=:TELEGRAM_TOPIC_ID
LOG_PATH=/var/log/auth.log
COMMAND_LOG_PATH=commands.log
