# -- Application Mode --
APP_MODE=SLAVE

# -- Machine Identification --
# A unique alias for this server
SERVER_ALIAS="web-server-1"

# -- Log Configuration --
# Path to the authentication log file
LOG_PATH="/var/log/auth.log"

# -- Connector Configuration --
# The full URL to the master's alert endpoint
MASTER_API_ENDPOINT="http://<MASTER_IP_ADDRESS>:13001/alert"
# The IP and port the master server will listen on for alerts from slaves (defaulting to 127.0.0.1:13001 for security)
LISTEN_ADDR="127.0.0.1:13001"
# A long, random, secret string shared between master and all slaves (use > 30chars alphanumeric with symbols for security)
INTERNAL_API_KEY="a_very_secret_and_long_random_string_for_auth"