# -- Application Mode --
APP_MODE=SLAVE

# -- Machine Identification --
# A unique alias for this server
SERVER_ALIAS="web-server-1"

# -- Log Configuration --
# Path to the authentication log file
LOG_PATH="/var/log/auth.log"

# -- Connector Configuration --
# The full URL to the master's alert endpoint
MASTER_API_ENDPOINT="http://<MASTER_IP_ADDRESS>:13001/alert"
# The IP and port this slave server will listen on for commands from the master
SLAVE_LISTEN_ADDR="0.0.0.0:13001"
# The SAME secret key used by the master
INTERNAL_API_KEY="a_very_secret_and_long_random_string_for_auth"