# -- Application Mode --
APP_MODE=MASTER

# -- Telegram Configuration --
TELEGRAM_BOT_TOKEN="YOUR_TELEGRAM_BOT_TOKEN"
# Whitelisted User ID that allowed to interact with the bot
TELEGRAM_CHAT_ID="YOUR_TELEGRAM_CHAT_ID"
# Telegram channel ID the bot will respond
ALERT_CHANNEL_ID="YOUR_TELEGRAM_CHANNEL_ID"
# Telegram topic id the bot will respond (optional if the group type is topic based)
TOPIC_ID="YOUR_TELEGRAM_TOPIC_ID"

# -- Connector Configuration --
# The IP and port the master server will listen on for alerts from slaves (defaulting to 127.0.0.1:13001 for security)
LISTEN_ADDR="127.0.0.1:13001"
# A long, random, secret string shared between master and all slaves (use > 30chars alphanumeric with symbols for security)
INTERNAL_API_KEY="a_very_secret_and_long_random_string_for_auth"