# -- Application Mode --
APP_MODE=MASTER

# -- Telegram Configuration --
TELEGRAM_BOT_TOKEN="YOUR_TELEGRAM_BOT_TOKEN"
# The Chat ID to send alerts to (can be a user, group, or channel)
TELEGRAM_CHAT_ID="YOUR_TELEGRAM_CHAT_ID"

# -- Connector Configuration --
# The IP and port the master server will listen on for alerts from slaves
SLAVE_LISTEN_ADDR="0.0.0.0:13001"
# A long, random, secret string shared between master and all slaves
INTERNAL_API_KEY="a_very_secret_and_long_random_string_for_auth"